# ============================================================
#  SYSTEM DEPENDENCIES (APT) – REQUIRED ON RASPBERRY PI
# ============================================================
# sudo apt update
# sudo apt install portaudio19-dev libasound2-dev
# sudo apt install libopenblas0 libopenblas-dev
# sudo apt install libatlas-base-dev liblapack-dev libblas-dev
# sudo apt install python3-dev

# ============================================================
#  PYTHON DEPENDENCIES (pip) – INSTALL IN VENV
# ============================================================

numpy
sounddevice
unicornhat
